In [11]:
import requests
import pandas as pd
import os
import MySQLdb
import csv
import time
import random
import datetime

In [12]:
contract_id = ['IC','IF','IH','T','TF']
# contract_id = ['IF','IH','T','TF']

url = 'http://www.cffex.com.cn/sj/ccpm/'

for contract in contract_id:
    date = datetime.datetime(2018,6,21)
    
    while (date < datetime.datetime.now()):

        split_date = date.strftime('%Y-%m-%d').split('-')
        res = requests.get(url+split_date[0]+split_date[1]+"/"+split_date[2]+"/"+contract+'_1.csv')

        decoded_content = res.content.decode('gb2312')
        cr = csv.reader(decoded_content.splitlines(), delimiter=',')
        data = pd.DataFrame(list(cr))
        data.to_csv('../各交易所期貨持倉量/中金所/'+contract+"/"+split_date[0]+split_date[1]+split_date[2]+'.csv',encoding='UTF-8-SIG',header=None,index=None)
        time.sleep(random.randrange(1,3))
        date = date + datetime.timedelta(days = 1)

In [12]:
dbname = 'if_oi_data'
cursor = db.cursor()

name = '`创元期货`'

sql = "ALTER TABLE " + dbname + ".v_rank ADD COLUMN " + name + "TEXT"
cursor.execute(sql)
sql = "ALTER TABLE " + dbname + ".b_rank ADD COLUMN " + name + "TEXT"
cursor.execute(sql)
sql = "ALTER TABLE " + dbname + ".s_rank ADD COLUMN " + name + "TEXT"
cursor.execute(sql)
sql = "ALTER TABLE " + dbname + ".v_increment ADD COLUMN " + name + "TEXT"
cursor.execute(sql)
sql = "ALTER TABLE " + dbname + ".b_increment ADD COLUMN " + name + "TEXT"
cursor.execute(sql)
sql = "ALTER TABLE " + dbname + ".s_increment ADD COLUMN " + name + "TEXT"
cursor.execute(sql)
sql = "ALTER TABLE " + dbname + ".v_volume ADD COLUMN " + name + "TEXT"
cursor.execute(sql)
sql = "ALTER TABLE " + dbname + ".b_oi ADD COLUMN " + name + "TEXT"
cursor.execute(sql)
sql = "ALTER TABLE " + dbname + ".s_oi ADD COLUMN " + name + "TEXT"
cursor.execute(sql)

3804

In [22]:
dbname = 'if_oi_data'
cursor = db.cursor()
date = "'2018-06-13'"

sql = "delete from " + dbname + ".futures_member where Date >= " + date
cursor.execute(sql)
sql = "delete from " + dbname + ".none_futures_member where Date >= " + date
cursor.execute(sql)


sql = "delete from " + dbname + ".v_rank where Date >= " + date
cursor.execute(sql)
sql = "delete from " + dbname + ".b_rank where Date >= " + date
cursor.execute(sql)
sql = "delete from " + dbname + ".s_rank where Date >= " + date
cursor.execute(sql)
sql = "delete from " + dbname + ".v_volume where Date >= " + date
cursor.execute(sql)
sql = "delete from " + dbname + ".b_oi where Date >= " + date
cursor.execute(sql)
sql = "delete from " + dbname + ".s_oi where Date >= " + date
cursor.execute(sql)
sql = "delete from " + dbname + ".v_increment where Date >= " + date
cursor.execute(sql)
sql = "delete from " + dbname + ".b_increment where Date >= " + date
cursor.execute(sql)
sql = "delete from " + dbname + ".s_increment where Date >= " + date
cursor.execute(sql)

3

In [13]:
db = MySQLdb.connect("localhost","root","123456")
db.set_character_set("gbk")

In [15]:
db = MySQLdb.connect("47.100.14.137","hyps44413","Nanhua")
db.set_character_set('gbk')

In [8]:
db.close()

In [16]:
contract_list = ['ic','if','ih','t','tf']
# contract_list = ['if','ih','t','tf']

for contract_id in contract_list:
    cursor = db.cursor()
    
    company_order = pd.read_excel('../期貨公司名稱/中金所/' + contract_id + '_company_name.xlsx',encoding='utf-8-sig',header=None,index_col=None)
    dbname1 = contract_id + '_oi_data'
    dbname2 = contract_id + "_oi_original_data"
    
    print(contract_id)

#     sql = "CREATE DATABASE IF NOT EXISTS " + dbname1
#     cursor.execute(sql)
#     sql = "CREATE DATABASE IF NOT EXISTS " + dbname2
#     cursor.execute(sql)

#     create_futures_member(dbname1)
#     create_non_futures_member(dbname1)

#     V_info_create(dbname1,company_order)
#     B_info_create(dbname1,company_order)
#     S_info_create(dbname1,company_order)

    DATA_DIR= '../各交易所期貨持倉量/中金所/' + contract_id + "/"

    for file in os.listdir(DATA_DIR):
        data = pd.read_csv(DATA_DIR + file,encoding='utf-8-sig',engine='python')
        
        tbname = file.split('.csv')[0]      
        tbname = datetime.datetime.strptime(tbname,'%Y%m%d')
        
        if (tbname >= datetime.datetime(2018,6,21)):
            
            tbname = tbname.strftime('%Y-%m-%d')
            
            V_info_insert(data, tbname, dbname1)
            B_info_insert(data, tbname, dbname1)
            S_info_insert(data, tbname, dbname1)

            futures_member_insert(data,tbname,dbname1)
            non_futures_member_insert(data,tbname,dbname1)     

#             total_insert(data,file.split('.csv')[0],dbname2)

ic

C:\Users\Philip\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: Warning: (1265, "Data truncated for column 'Contract_id' at row 1")

C:\Users\Philip\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: Warning: (1265, "Data truncated for column 'Contract_id' at row 1")

if
ih
t
tf

In [8]:
b = company_order.values
a = data['总成交量']

for i in a:
    if i not in b:
        print(i)

31590
0
13770
0
3392
0
成交量排名
会员简称
创元期货

In [4]:
def total_insert(data,tbname,databaseName):       
    cursor = db.cursor()
    
    sql = "CREATE TABLE IF NOT EXISTS " + databaseName + "." + tbname + \
    "(Contract_ID CHAR(10),\
    Rank INT(5),\
    Member CHAR(10),\
    Volume FLOAT(5),\
    Increment FLOAT(5),\
    Member1 CHAR(10),\
    Buy_Volume INT(10),\
    Increment_1 FLOAT(5),\
    Member2 CHAR(10),\
    Sales_Volume FLOAT(5),\
    Increment_2 FLOAT(5) )"

    cursor.execute(sql)
    value=[]
    
    index = 0
    for i in range(len(data)):
        if(data.loc[i][3] == '会员简称'):
            index = i
            break

    for j in range(index+1,len(data)):      
        value.append((str(data.loc[j][1]).strip(),str(data.loc[j][2]).strip(),str(data.loc[j][3]).strip(),str(data.loc[j][4]).strip(),\
                      str(data.loc[j][5]).strip(),str(data.loc[j][6]).strip(),str(data.loc[j][7]).strip(),str(data.loc[j][8]).strip(),\
                      str(data.loc[j][9]).strip(),str(data.loc[j][10]).strip(),str(data.loc[j][11]).strip()))
    
    sql = "INSERT INTO " + databaseName + "." + tbname + " VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"        
    cursor.executemany(sql,value)
    db.commit()
    cursor.close()

In [5]:
def create_futures_member(databaseName):
    cursor = db.cursor()
    sql = "CREATE TABLE IF NOT EXISTS " + databaseName + ".futures_member (\
    Date DATE ,\
    Contract_id VARCHAR(10),\
    Total_volume INT(5),\
    Increment INT(5),\
    Total_buy_volume INT(5),\
    Increment_1 INT(5),\
    Total_sales_volume INT(5),\
    Increment_2 INT(5) , PRIMARY KEY(Date, Contract_id)) "

    cursor.execute(sql)

def futures_member_insert(data, table_date, databaseName):
    cursor = db.cursor()
    
    sql = "INSERT INTO " + databaseName + ".futures_member VALUES(%s,%s,%s,%s,%s,%s,%s,%s)"
    
    for x in range(int(len(data)/3)):
        if(data.loc[x][2]=='期货公司'):
            cursor.execute(sql,(table_date,data.loc[x][1],data.loc[x][3],data.loc[x][4],data.loc[x][5],data.loc[x][6],\
                       data.loc[x][7],data.loc[x][8])) 

            db.commit()
    cursor.close()
    
def create_non_futures_member(databaseName):
    cursor = db.cursor()
    sql = "CREATE TABLE IF NOT EXISTS " + databaseName + ".none_futures_member (\
    Date DATE ,\
    Contract_id VARCHAR(10),\
    Total_volume INT(5),\
    Increment INT(5),\
    Total_buy_volume INT(5),\
    Increment_1 INT(5),\
    Total_sales_volume INT(5),\
    Increment_2 INT(5) , PRIMARY KEY(Date, Contract_id)) "

    cursor.execute(sql)
    
def non_futures_member_insert(data, table_date, databaseName):
    cursor = db.cursor()
    sql = "INSERT INTO " + databaseName + ".none_futures_member VALUES(%s,%s,%s,%s,%s,%s,%s,%s)"
    
    for x in range(int(len(data)/3)):
        if(data.loc[x][2]=='非期货公司'):
            cursor.execute(sql,(table_date,data.loc[x][1],data.loc[x][3],data.loc[x][4],data.loc[x][5],data.loc[x][6],\
                       data.loc[x][7],data.loc[x][8])) 

            db.commit()

    db.commit()
    cursor.close()

In [6]:
def V_info_create(databaseName, company_order):
    cursor = db.cursor()
    name=""
    for i in range(len(company_order)-1):
        name = name + company_order.loc[i][0] + ' TEXT,'
    name = name + company_order.loc[len(company_order)-1][0] + " TEXT"

    sql = "CREATE TABLE IF NOT EXISTS " + databaseName +".v_rank ( Date DATE, Contract_id VARCHAR(50), " + name + ",\
           PRIMARY KEY(Date, Contract_id)) ENGINE=MyISAM"
    cursor.execute(sql)

    sql = "CREATE TABLE IF NOT EXISTS " + databaseName + ".v_volume ( Date DATE , Contract_id VARCHAR(50), " + name + ",\
           PRIMARY KEY(Date, Contract_id)) ENGINE=MyISAM"
    cursor.execute(sql)

    sql = "CREATE TABLE IF NOT EXISTS " + databaseName + ".v_increment ( Date DATE , Contract_id VARCHAR(50), " + name + ",\
           PRIMARY KEY(Date, Contract_id)) ENGINE=MyISAM"
    cursor.execute(sql)
    cursor.close()

def V_info_insert(data, table_date, databaseName):
    cursor = db.cursor()
    
    temp = data.loc[10:]
    contract_list = temp.drop_duplicates(['合约'])
    
    for contract_id in list(contract_list['合约'].dropna()):
    
        empty = ""
        empty = empty + "'" + table_date + "', '" + contract_id.strip() + "'"


        sql = "INSERT INTO " + databaseName + ".v_rank (Date, Contract_id) VALUES (" + empty + ")"
        cursor.execute(sql)
        db.commit()

        sql = "INSERT INTO " + databaseName + ".v_volume (Date, Contract_id) VALUES (" + empty + ")"
        cursor.execute(sql)
        db.commit()

        sql = "INSERT INTO " + databaseName + ".v_increment (Date, Contract_id) VALUES (" + empty + ")"
        cursor.execute(sql)
        db.commit()
    
    index = 0
    for i in range(1,len(data)):
        if data.loc[i][2] == '排名':
            index = i+2
            break
     
    for j in range(index,len(data)):
        sql = "UPDATE " + databaseName + ".v_rank SET " + str(data.loc[j][3]).strip() + "=" + str(data.loc[j][2]) + \
              " WHERE Date='" + table_date + "' and Contract_id = '" + str(data.loc[j][1]) + "'"
        cursor.execute(sql)
        db.commit()    

    for j in range(index,len(data)):
        sql = "UPDATE " + databaseName + ".v_volume SET " + str(data.loc[j][3]).strip() + "=" + str(data.loc[j][4]) + \
              " WHERE Date='" + table_date + "' and Contract_id = '" + str(data.loc[j][1]) + "'"
        cursor.execute(sql)
        db.commit()

    for j in range(index,len(data)):
        sql = "UPDATE " + databaseName + ".v_increment SET " + str(data.loc[j][3]).strip() + "=" + str(data.loc[j][5]) + \
             " WHERE Date='" + table_date + "' and Contract_id = '" + str(data.loc[j][1]) + "'"
        cursor.execute(sql)
        db.commit()
    
    cursor.close()

## B名次、買單量、增減

def B_info_create(databaseName, company_order):
    cursor = db.cursor()
    name=""
    for i in range(len(company_order)-1):
        name = name + company_order.loc[i][0] + ' TEXT,'
    name = name + company_order.loc[len(company_order)-1][0] + " TEXT"

    sql = "CREATE TABLE IF NOT EXISTS " + databaseName + ".b_rank ( Date DATE , Contract_id VARCHAR(50), " + name + ",\
           PRIMARY KEY(Date, Contract_id)) ENGINE=MyISAM"
    cursor.execute(sql)

    sql = "CREATE TABLE IF NOT EXISTS " + databaseName + ".b_oi ( Date DATE , Contract_id VARCHAR(50), " + name + ",\
           PRIMARY KEY(Date, Contract_id)) ENGINE=MyISAM"
    cursor.execute(sql)

    sql = "CREATE TABLE IF NOT EXISTS " + databaseName + ".b_increment ( Date DATE , Contract_id VARCHAR(50), " + name + ",\
           PRIMARY KEY(Date, Contract_id)) ENGINE=MyISAM"
    cursor.execute(sql)
    cursor.close()

def B_info_insert(data, table_date, databaseName):
    cursor = db.cursor()
    
    temp = data.loc[10:]
    contract_list = temp.drop_duplicates(['合约'])
    
    for contract_id in list(contract_list['合约'].dropna()):
 
        empty = ""
        empty = empty + "'" + table_date + "', '" + contract_id.strip() + "'"

        sql = "INSERT INTO " + databaseName + ".b_rank (Date, Contract_id) VALUES (" + empty + ")"
        cursor.execute(sql)
        db.commit()

        sql = "INSERT INTO " + databaseName + ".b_oi (Date, Contract_id) VALUES (" + empty + ")"
        cursor.execute(sql)
        db.commit()

        sql = "INSERT INTO " + databaseName + ".b_increment (Date, Contract_id) VALUES (" + empty + ")"
        cursor.execute(sql)
        db.commit()
        
    index = 0
    for i in range(1,len(data)):
        if data.loc[i][2] == '排名':
            index = i+2
            break
    
    for j in range(index,len(data)):
        sql = "UPDATE " + databaseName + ".b_rank SET " + str(data.loc[j][6]).strip() + "=" + str(data.loc[j][2]) + \
             " WHERE Date='" + table_date + "' and Contract_id = '" + str(data.loc[j][1]) + "'"
        cursor.execute(sql)
        db.commit()    

    for j in range(index,len(data)):
        sql = "UPDATE " + databaseName + ".b_oi SET " + str(data.loc[j][6]).strip() + "=" + str(data.loc[j][7]) + \
             " WHERE Date='" + table_date + "' and Contract_id = '" + str(data.loc[j][1]) + "'"
        cursor.execute(sql)
        db.commit()

    for j in range(index,len(data)):
        sql = "UPDATE " + databaseName + ".b_increment SET " + str(data.loc[j][6]).strip() + "=" + str(data.loc[j][8]) + \
             " WHERE Date='" + table_date + "' and Contract_id = '" + str(data.loc[j][1]) + "'"
        cursor.execute(sql)
        db.commit()

    cursor.close()

## S名次、賣單量、增減

def S_info_create(databaseName, company_order):
    cursor = db.cursor()
    name=""
    
    for i in range(len(company_order)-1):
        name = name + company_order.loc[i][0] + ' TEXT,'
    name = name + company_order.loc[len(company_order)-1][0] + " TEXT"

    sql = "CREATE TABLE IF NOT EXISTS " + databaseName +".s_rank ( Date DATE , Contract_id VARCHAR(50), " + name + ",\
           PRIMARY KEY(Date, Contract_id)) ENGINE=MyISAM"
    cursor.execute(sql)

    sql = "CREATE TABLE IF NOT EXISTS " + databaseName + ".s_oi ( Date DATE , Contract_id VARCHAR(50), " + name + ",\
           PRIMARY KEY(Date, Contract_id)) ENGINE=MyISAM"
    cursor.execute(sql)

    sql = "CREATE TABLE IF NOT EXISTS " + databaseName + ".s_increment ( Date DATE , Contract_id VARCHAR(50), " + name + ",\
           PRIMARY KEY(Date, Contract_id)) ENGINE=MyISAM"
    cursor.execute(sql)
    cursor.close()

def S_info_insert(data, table_date, databaseName):
    cursor = db.cursor()
    
    temp = data.loc[10:]
    contract_list = temp.drop_duplicates(['合约'])
    
    for contract_id in list(contract_list['合约'].dropna()):
        empty = ""
        empty = empty + "'" + table_date + "', '" + contract_id.strip() + "'"

        sql = "INSERT INTO " + databaseName + ".s_rank (Date, Contract_id) VALUES (" + empty + ")"
        cursor.execute(sql)
        db.commit()

        sql = "INSERT INTO " + databaseName + ".s_oi (Date, Contract_id) VALUES (" + empty + ")"
        cursor.execute(sql)
        db.commit()

        sql = "INSERT INTO " + databaseName + ".s_increment (Date, Contract_id) VALUES (" + empty + ")"
        cursor.execute(sql)
        db.commit()
        
    index = 0
    for i in range(1,len(data)):
        if data.loc[i][2] == '排名':
            index = i+2
            break
    
    for j in range(index,len(data)):
        sql = "UPDATE " + databaseName + ".s_rank SET " + str(data.loc[j][9]).strip() + "=" + str(data.loc[j][2]) + \
             " WHERE Date='" + table_date + "' and Contract_id = '" + str(data.loc[j][1]) + "'"
        cursor.execute(sql)
        db.commit()    

    for j in range(index,len(data)):
        sql = "UPDATE " + databaseName + ".s_oi SET " + str(data.loc[j][9]).strip() + "=" + str(data.loc[j][10]) + \
             " WHERE Date='" + table_date + "' and Contract_id = '" + str(data.loc[j][1]) + "'"
        cursor.execute(sql)
        db.commit()

    for j in range(index,len(data)):
        sql = "UPDATE " + databaseName +".s_increment SET " + str(data.loc[j][9]).strip() + "=" + str(data.loc[j][11]) + \
             " WHERE Date='" + table_date + "' and Contract_id = '" + str(data.loc[j][1]) + "'"
        cursor.execute(sql)
        db.commit()

    cursor.close()

In [ ]:
db = MySQLdb.connect("localhost","root","123456","tf_oi_original_data")
db.set_character_set('gbk')

In [ ]:
cursor = db.cursor()
sql = 'show tables'
cursor.execute(sql)
data = cursor.fetchall()

In [ ]:
company_list = []
for table in data:
    sql = "select Member,Member1,Member2 from tf_oi_original_data."+ table[0]
    cursor.execute(sql)
    name = cursor.fetchall()   
    for i in name:
        for j in range(3):
            if (i[j] not in company_list and i[j]!=None):
                company_list.append(i[j])

In [ ]:
a = pd.DataFrame(list(company_list))
a.to_excel('tf_company_name.xlsx',encoding='utf-8-sig',index=None,header=None)