In [1]:
import pandas as pd
import numpy as np
import MySQLdb

In [2]:
date = pd.read_excel('中国交易所资料/大商所所有品种换约资料/交易日期/ioeh14 comdty.xlsx',encoding='utf-8')
company_order = pd.read_csv('myTempCompanyAll20170915_004.csv',encoding='utf-8-sig',header=None,index_col=None)

In [34]:
db = MySQLdb.connect("47.93.47.80","root","123456","iron_ore_original" )
db.set_character_set('utf8')

In [63]:
V_info_create()
B_info_create()
S_info_create()

In [35]:
for x in range(0,len(date.dropna())): 
    split_date = date['Date'][x].strftime('%Y-%m-%d').split('-')
    table_date = split_date[0]+split_date[1]+split_date[2]
    try:
        data = pd.read_csv('../大商所/铁矿石/'+table_date+'.csv',encoding='utf-8-sig',engine='python')
        #data = pd.read_csv('test.csv',encoding='gbk',engine="python")
    except Exception as e:
        print(e)
        continue
        
    for i in range(3,len(data)-1):
        for j in range(12):
            if(data.loc[i][j] == "-"):
                data.loc[i][j] = "NULL"                
            elif( (j==2 or j==3 or j==6 or j==7 or j==10 or j==11) and data.loc[i][j] != "NULL"):
                data.loc[i][j] = data.loc[i][j].replace(',','')
  
    tmp = x

    total_insert(data,table_date)
    #futures_member_insert(data,table_date)
    #non_futures_member_insert(data,table_date)
    #total_volume_insert(data,table_date)
        
    #V_info_insert(data,table_date,date['Date'][x].strftime('%Y-%m-%d'))
    #B_info_insert(data,table_date,date['Date'][x].strftime('%Y-%m-%d'))
    #S_info_insert(data,table_date,date['Date'][x].strftime('%Y-%m-%d'))
    
db.close()

KeyboardInterrupt:

In [38]:
cursor = db.cursor()
cursor.execute(sql)
test = cursor.fetchall()

In [40]:
pd.DataFrame(list(test))

,0,1,2,3,4,5,6,7,8,9,10,11
0,1,海通期货,209046,45385,1,中信期货,69140,12935,1.0,中信期货,92048.0,5502.0
1,2,国投安信,208102,25448,2,银河期货,67223,-374,2.0,银河期货,54281.0,1096.0
2,3,申银万国,164574,71552,3,海通期货,42662,3423,3.0,海通期货,43647.0,3647.0
3,4,银河期货,161628,14388,4,永安期货,36326,-1644,4.0,东证期货,37802.0,-5501.0
4,5,广发期货,156184,29252,5,华泰期货,34675,10605,5.0,国投安信,32542.0,1085.0
5,6,招商期货,120355,13469,6,东证期货,34168,-5248,6.0,申银万国,32417.0,3258.0
6,7,中信期货,110459,30583,7,国投安信,33462,2675,7.0,国泰君安,30737.0,5440.0
7,8,徽商期货,103882,12551,8,浙商期货,28309,533,8.0,方正中期,25247.0,2709.0
8,9,国泰君安,94417,5865,9,国泰君安,25430,563,9.0,广发期货,23799.0,-313.0
9,10,永安期货,89499,30501,10,招商期货,21504,-587,10.0,永安期货,23147.0,2689.0
10,11,东证期货,88051,11812,11,广发期货,19668,3303,11.0,光大期货,20963.0,1159.0
11,12,中信建投,85953,19295,12,申银万国,18374,4590,12.0,信达期货,20147.0,965.0
12,13,华泰期货,85392,34401,13,金元期货,16436,-677,13.0,招商期货,20019.0,-566.0
13,14,光大期货,80390,5491,14,南华期货,16164,2255,14.0,中辉期货,18964.0,7921.0
14,15,广州金控,76712,20640,15,光大期货,14715,1787,15.0,华泰期货,18882.0,3533.0
15,16,方正中期,72841,22380,16,国都期货,14600,42,16.0,建信期货,17560.0,-672.0
16,17,国富期货,71653,21460,17,金瑞期货,14503,618,17.0,金瑞期货,15316.0,2321.0
17,18,中辉期货,68874,20756,18,西部期货,14440,6007,18.0,国富期货,14566.0,389.0
18,19,金瑞期货,63277,3505,19,中辉期货,14122,3755,19.0,西部期货,13912.0,5366.0
19,20,安粮期货,60154,11000,20,徽商期货,12843,-682,20.0,中粮期货,12404.0,1433.0
20,21,南华期货,55093,23807,21,兴证期货,12606,-60,21.0,徽商期货,12203.0,2488.0
21,22,东航期货,54513,18020,22,方正中期,12444,-272,22.0,国贸期货,12164.0,-1030.0
22,23,西部期货,52361,12963,23,安粮期货,12422,195,23.0,安粮期货,11940.0,519.0
23,24,同信久恒,47093,4572,24,国富期货,11847,2666,24.0,中银国际,11496.0,737.0
24,25,中国国际,47054,14451,25,大地期货,11703,-9,25.0,一德期货,11493.0,765.0
25,26,国海良时,44861,4206,26,中信建投,10987,1793,26.0,新湖期货,10962.0,-510.0
26,27,海证期货,39707,7363,27,中国国际,10825,1449,27.0,兴证期货,9985.0,1888.0
27,28,国信期货,36642,2268,28,中粮期货,10772,-4828,28.0,华信期货,9774.0,2316.0
28,29,华安期货,35824,6610,29,国海良时,10452,1252,29.0,浙商期货,9399.0,-37.0
29,30,一德期货,31335,12151,30,信达期货,9458,315,30.0,中信建投,9237.0,174.0
...,...,...,...,...,...,...,...,...,...,...,...,...
116,117,东方汇金,2371,93,117,大连良运,419,-417,117.0,国都期货,296.0,-294.0
117,118,北京金鹏,2190,340,118,金石期货,394,-182,118.0,华龙期货,279.0,26.0
118,119,首创京都,2148,806,119,九州期货,343,-40,119.0,和合期货,268.0,20.0
119,120,汇鑫期货,2135,618,120,华龙期货,310,22,120.0,江信国盛,254.0,-11.0
120,121,红塔期货,2100,-515,121,华融期货,302,-43,121.0,神华期货,248.0,-202.0
121,122,盛达期货,2086,1020,122,云晨期货,301,-2,122.0,南证期货,245.0,-23.0
122,123,金信期货,2076,130,123,金信期货,292,65,123.0,晟鑫期货,241.0,-10.0
123,124,江信国盛,1584,752,124,通惠期货,277,254,124.0,九州期货,240.0,-58.0
124,125,中金期货,1568,1484,125,华金期货,270,-124,125.0,红塔期货,238.0,-111.0
125,126,大连良运,1560,966,126,混沌天成,251,-7,126.0,和融期货,214.0,-52.0
126,127,深圳金汇,1296,592,127,深圳金汇,244,5,127.0,汇鑫期货,211.0,-154.0
127,128,华闻期货,1285,294,128,新晟期货,227,53,128.0,深圳金汇,207.0,-13.0
128,129,山西三立,1273,332,129,山金期货,222,161,129.0,金信期货,189.0,-41.0
129,130,第一创业,1247,96,130,前海期货,198,60,130.0,津投期货,182.0,72.0
130,131,华创期货,1195,572,131,和合期货,185,-23,131.0,鑫鼎盛期货,145.0,106.0
131,132,大通期货,1153,-321,132,上海浙石,156,-12,132.0,华创期货,131.0,-39.0
132,133,前海期货,1110,86,133,盛达期货,155,8,133.0,金石期货,128.0,-65.0
133,134,新晟期货,1037,353,134,第一创业,153,-61,134.0,云晨期货,115.0,12.0
134,135,河北恒银,1025,-22,135,山西三立,145,15,135.0,第一创业,112.0,26.0
135,136,鑫鼎盛期货,807,421,136,江信国盛,137,-143,136.0,前海期货,54.0,-400.0
136,137,云晨期货,804,226,137,津投期货,133,98,137.0,山西三立,54.0,12.0
137,138,晟鑫期货,749,274,138,河北恒银,121,58,138.0,盛达期货,48.0,-16.0
138,139,津投期货,710,350,139,天鸿期货,121,24,139.0,大连良运,45.0,-83.0
139,140,上海浙石,620,102,140,和融期货,90,67,140.0,上海浙石,43.0,14.0
140,141,通惠期货,464,209,141,鑫鼎盛期货,83,-7,141.0,河北恒银,33.0,-11.0
141,142,和融期货,399,88,142,晟鑫期货,72,-5,142.0,天鸿期货,27.0,-11.0
142,143,天鸿期货,331,72,143,新疆天利,47,4,143.0,天富期货,21.0,-14.0
143,144,天富期货,200,36,144,大通期货,38,21,144.0,新疆天利,17.0,-8.0
144,145,新疆天利,184,38,145,天富期货,32,-12,145.0,通惠期货,6.0,-24.0
145,146,黑龙江时代,15,3,146,黑龙江时代,18,1,NaN,NULL,NaN,NaN

# 總表輸入

In [33]:
def total_insert(data,table_date):       
    cursor = db.cursor()

    sql = "CREATE TABLE IF NOT EXISTS i_" + table_date+ "(\
    Rank INT(5),\
    Member CHAR(20),\
    Volume INT,\
    Increment INT,\
    Rank_1 INT(5),\
    Member1 CHAR(20),\
    Buy_Volume INT,\
    Increment_1 INT,\
    Rank_2 INT(5),\
    Member2 CHAR(20),\
    Sales_Volume INT,\
    Increment_2 INT )"

    cursor.execute(sql)

    for i in range(3,len(data)-1):
        
        No = data.loc[i][0]
        Member = data.loc[i][1]
        Volume = data.loc[i][2]
        Increase_or_decrease = data.loc[i][3]
        No1 = data.loc[i][4]
        Member1 = data.loc[i][5]
        Buy_Volume = data.loc[i][6]
        Increase_or_decrease1 = data.loc[i][7]
        No2 = data.loc[i][8]
        Member2 = data.loc[i][9]
        Sales_Volume = data.loc[i][10]
        Increase_or_decrease2 = data.loc[i][11]

        sql = "INSERT INTO i_" + table_date +"(Rank,Member,Volume,Increment,Rank_1,Member1,Buy_Volume,Increment_1 \
        ,Rank_2,Member2,Sales_Volume,Increment_2) VALUES(" \
        + No + ",'" + Member + "'," + Volume + "," + Increase_or_decrease + ","\
        + No1 + ",'" + Member1 + "'," + Buy_Volume + "," + Increase_or_decrease1 + ","\
        + No2 + ",'" + Member2 + "'," + Sales_Volume + "," + Increase_or_decrease2 + ")"
        cursor.execute(sql)
        db.commit()
    cursor.close()

# 期貨公司成員輸入

In [5]:
def futures_member_insert(data,table_date):
    cursor = db.cursor()
    sql = """CREATE TABLE IF NOT EXISTS futures_member (\
    Date DATE PRIMARY KEY,\
    Total_volume INT,\
    Increment INT,\
    Total_buy_volume INT,\
    Increment_1 INT,\
    Total_sales_volume INT,\
    Increment_2 INT ) """

    cursor.execute(sql)
    
    sql = "INSERT INTO futures_member (Date,Total_volume,Increment,Total_buy_volume,Increment_1,Total_sales_volume,Increment_2) VALUES( "\
    + table_date +","\
    + data.loc[0][1].replace(',','') +","\
    + data.loc[0][2].replace(',','') +","\
    + data.loc[0][3].replace(',','') +","\
    + data.loc[0][4].replace(',','') +","\
    + data.loc[0][5].replace(',','') +","\
    + data.loc[0][6].replace(',','') + ")"

    cursor.execute(sql)
    db.commit()
    cursor.close()

# 非期貨公司成員輸入

In [243]:
cursor = db.cursor()
sql = """CREATE TABLE IF NOT EXISTS none_futures_member (\
Date DATE PRIMARY KEY,\
Total_volume INT,\
Increment INT,\
Total_buy_volume INT,\
Increment_1 INT,\
Total_sales_volume INT,\
Increment_2 INT ) """

cursor.execute(sql)

0

In [21]:
def non_futures_member_insert(data,table_date):
    cursor = db.cursor()
    sql = "INSERT INTO none_futures_member (Date,Total_volume,Increment,Total_buy_volume,Increment_1,Total_sales_volume,Increment_2) VALUES("\
    + table_date + ","\
    + data.loc[1][1].replace(',','') +","\
    + data.loc[1][2].replace(',','') +","\
    + data.loc[1][3].replace(',','') +","\
    + data.loc[1][4].replace(',','') +","\
    + data.loc[1][5].replace(',','') +","\
    + data.loc[1][6].replace(',','') + ")"

    cursor.execute(sql)
    db.commit()
    cursor.close()

# 總計

In [247]:
cursor = db.cursor()
sql = "CREATE TABLE IF NOT EXISTS total_volume ( Date DATE PRIMARY KEY, \
V_Valume INT,V_Increment INT,\
B_Valume INT,B_Increment INT,\
S_Valume INT,S_Increment INT)"

cursor.execute(sql)

0

In [25]:
def total_volume_insert(data,table_date):
    cursor = db.cursor()
    total_len = len(data)-1
    sql = "INSERT INTO total_volume (Date,V_Valume,V_Increment,B_Valume,B_Increment,S_Valume,S_Increment) VALUES("\
    + table_date + ","\
    + data.loc[total_len][2].replace(',','') +","\
    + data.loc[total_len][3].replace(',','') +","\
    + data.loc[total_len][6].replace(',','') +","\
    + data.loc[total_len][7].replace(',','') +","\
    + data.loc[total_len][10].replace(',','') +","\
    + data.loc[total_len][11].replace(',','') + ")"

    cursor.execute(sql)
    db.commit()

# 各公司資訊

## V名次、成交量、增減

In [45]:
def V_info_create():
    cursor = db.cursor()
    name=""
    for i in range(len(company_order)-1):
        name = name + company_order.loc[i][0] + ' CHAR(10),'
    name = name + company_order.loc[len(company_order)-1][0] + " CHAR(10)"

    sql = "CREATE TABLE IF NOT EXISTS v_rank ( Date DATE PRIMARY KEY, " + name + ")"
    cursor.execute(sql)

    sql = "CREATE TABLE IF NOT EXISTS v_volume ( Date DATE PRIMARY KEY, " + name + ")"
    cursor.execute(sql)

    sql = "CREATE TABLE IF NOT EXISTS v_increment ( Date DATE PRIMARY KEY, " + name + ")"
    cursor.execute(sql)
    cursor.close()

In [92]:
def V_info_insert(data,table_date,list_date):
    cursor = db.cursor()
    name=""
    for i in range(len(company_order)-1):
        name = name + company_order.loc[i][0] + ','
    name = name + company_order.loc[len(company_order)-1][0]

    empty = ""
    empty = empty + table_date + ","
    for i in range(len(company_order)-1):
        empty = empty + "NULL" + ','
    empty = empty + "NULL"

    sql = "INSERT INTO v_rank (Date," + name + ") VALUES (" + empty + ")"
    cursor.execute(sql)
    db.commit()

    sql = "INSERT INTO v_volume (Date," + name + ") VALUES (" + empty + ")"
    cursor.execute(sql)
    db.commit()

    sql = "INSERT INTO v_increment (Date," + name + ") VALUES (" + empty + ")"
    cursor.execute(sql)
    db.commit()
    
    for i in range(3,len(data)-1):
        if(data.loc[i][1] == "NULL"):
            continue
        
        else:
            sql = "UPDATE v_rank SET " + str(data.loc[i][1]) + "=" + data.loc[i][0] + " WHERE Date='" + list_date + "'"
            cursor.execute(sql)
            db.commit()    

    for i in range(3,len(data)-1):
        if(data.loc[i][5] == "NULL"):
            continue
            
        else:
            sql = "UPDATE v_volume SET " + str(data.loc[i][1]) + "=" + data.loc[i][2] + " WHERE Date='" + list_date + "'"
            cursor.execute(sql)
            db.commit()

    for i in range(3,len(data)-1):
        if(data.loc[i][9] == "NULL"):
            continue
            
        else:
            sql = "UPDATE v_increment SET " + data.loc[i][1] + "=" + data.loc[i][3] + " WHERE Date='" + list_date + "'"
            cursor.execute(sql)
            db.commit()
    
    cursor.close()

## B名次、買單量、增減

In [198]:
def B_info_create():
    name=""
    for i in range(len(company_order)-1):
        name = name + company_order.loc[i][0] + ' CHAR(10),'
    name = name + company_order.loc[len(company_order)-1][0] + " CHAR(10)"

    sql = "CREATE TABLE IF NOT EXISTS b_rank ( Date DATE PRIMARY KEY, " + name + ")"
    cursor.execute(sql)

    sql = "CREATE TABLE IF NOT EXISTS b_oi ( Date DATE PRIMARY KEY, " + name + ")"
    cursor.execute(sql)

    sql = "CREATE TABLE IF NOT EXISTS b_increment ( Date DATE PRIMARY KEY, " + name + ")"
    cursor.execute(sql)

0

In [199]:
def B_info_insert(data,table_date,list_date)
    name=""
    for i in range(len(company_order)-1):
        name = name + company_order.loc[i][0] + ','
    name = name + company_order.loc[len(company_order)-1][0]

    empty = ""
    empty = empty + table_date + ","
    for i in range(len(company_order)-1):
        empty = empty + "NULL" + ','
    empty = empty + "NULL"
    
    sql = "INSERT INTO b_rank (Date," + name + ") VALUES (" + empty + ")"
    cursor.execute(sql)
    db.commit()

    sql = "INSERT INTO b_oi (Date," + name + ") VALUES (" + empty + ")"
    cursor.execute(sql)
    db.commit()

    sql = "INSERT INTO b_increment (Date," + name + ") VALUES (" + empty + ")"
    cursor.execute(sql)
    db.commit()
    
    for i in range(3,len(data)-1):
    if(data.loc[i][1] == "NULL"):
        continue  
        
    sql = "UPDATE b_rank SET " + str(data.loc[i][5]) + "=" + data.loc[i][4] + " WHERE Date='" + list_date + "'"
    cursor.execute(sql)
    db.commit()    

    for i in range(3,len(data)-1):
        if(data.loc[i][5] == "NULL"):
            continue
        sql = "UPDATE b_oi SET " + str(data.loc[i][5]) + "=" + data.loc[i][6] + " WHERE Date='" + list_date + "'"
        cursor.execute(sql)
        db.commit()

    for i in range(3,len(data)-1):
        if(data.loc[i][9] == "NULL"):
            continue
        sql = "UPDATE b_increment SET " + data.loc[i][5] + "=" + data.loc[i][7] + " WHERE Date='" + list_date + "'"
        cursor.execute(sql)
        db.commit()

    cursor.close()

## S名次、賣單量、增減

In [203]:
def S_info_create():
    name=""
    for i in range(len(company_order)-1):
        name = name + company_order.loc[i][0] + ' CHAR(10),'
    name = name + company_order.loc[len(company_order)-1][0] + " CHAR(10)"

    sql = "CREATE TABLE IF NOT EXISTS s_rank ( Date DATE PRIMARY KEY, " + name + ")"
    cursor.execute(sql)

    sql = "CREATE TABLE IF NOT EXISTS s_oi ( Date DATE PRIMARY KEY, " + name + ")"
    cursor.execute(sql)

    sql = "CREATE TABLE IF NOT EXISTS s_increment ( Date DATE PRIMARY KEY, " + name + ")"
    cursor.execute(sql)

0

In [204]:
def S_info_insert(data,table_date,list_date):
    name=""
    for i in range(len(company_order)-1):
        name = name + company_order.loc[i][0] + ','
    name = name + company_order.loc[len(company_order)-1][0]

    empty = ""
    empty = empty + table_date + ","
    for i in range(len(company_order)-1):
        empty = empty + "NULL" + ','
    empty = empty + "NULL"
    
    sql = "INSERT INTO s_rank (Date," + name + ") VALUES (" + empty + ")"
    cursor.execute(sql)
    db.commit()

    sql = "INSERT INTO s_oi (Date," + name + ") VALUES (" + empty + ")"
    cursor.execute(sql)
    db.commit()

    sql = "INSERT INTO s_increment (Date," + name + ") VALUES (" + empty + ")"
    cursor.execute(sql)
    db.commit()
    
    for i in range(3,len(data)-1):
    if(data.loc[i][1] == "NULL"):
        continue  
        
    sql = "UPDATE s_rank SET " + str(data.loc[i][1]) + "=" + data.loc[i][0] + " WHERE Date='" + list_date + "'"
    cursor.execute(sql)
    db.commit()    

    for i in range(3,len(data)-1):
        if(data.loc[i][5] == "NULL"):
            continue
        sql = "UPDATE s_oi SET " + str(data.loc[i][1]) + "=" + data.loc[i][2] + " WHERE Date='" + list_date + "'"
        cursor.execute(sql)
        db.commit()

    for i in range(3,len(data)-1):
        if(data.loc[i][9] == "NULL"):
            continue
        sql = "UPDATE s_increment SET " + data.loc[i][9] + "=" + data.loc[i][3] + " WHERE Date='" + list_date + "'"
        cursor.execute(sql)
        db.commit()

    cursor.close()