In [2]:
import pandas as pd
import MySQLdb
import os
import re

In [51]:
db = MySQLdb.connect("localhost","root","0136")
db.set_character_set("utf8")

In [53]:
future_type_list = ["AY"]
DATA_DIR = "../1分钟 商品期货/TEST"
for filename in os.listdir(DATA_DIR):
    for future_type in future_type_list:
        cursor = db.cursor()
        sql = "CREATE DATABASE IF NOT EXISTS " + future_type
        cursor.execute(sql)
        
        get_name = filename.split(".csv")[0]
        
        database_name = future_type + "." + future_type
        
        try:
            get_contract_number = get_name.split(future_type)[1]
            sql = "CREATE TABLE IF NOT EXISTS " + database_name + get_contract_number + \
                  " (Date DATE,\
                    Time TIME(5),\
                    Open INT,\
                    High INT,\
                    Low INT,\
                    Clos INT,\
                    Volume INT,\
                    OI INT)"
            cursor.execute(sql)
                
            data = pd.read_csv(DATA_DIR+"/"+filename,header=None,engine='python')
            
            for i in range(len(data)):
                sql = "INSERT INTO " + database_name + get_contract_number + " VALUES (%s,%s,%s,%s,%s,%s,%s,%s)"
                cursor.execute(sql.format(),(data.iloc[i][0],data.iloc[i][1],data.iloc[i][2],data.iloc[i][3],data.iloc[i][4],
                                    data.iloc[i][5],data.iloc[i][6],data.iloc[i][7]))
                
        except BaseException as e:
            print (e)
            continue
    cursor.close()

d:\Program Files\Anaconda2\envs\py36\lib\site-packages\ipykernel\__main__.py:7: Warning: (1007, "Can't create database 'ay'; database exists")
d:\Program Files\Anaconda2\envs\py36\lib\site-packages\ipykernel\__main__.py:19: Warning: (1050, "Table 'ay01' already exists")

list index out of range
list index out of range
list index out of range
list index out of range
list index out of range

d:\Program Files\Anaconda2\envs\py36\lib\site-packages\ipykernel\__main__.py:19: Warning: (1050, "Table 'ay03' already exists")
d:\Program Files\Anaconda2\envs\py36\lib\site-packages\ipykernel\__main__.py:19: Warning: (1050, "Table 'ay05' already exists")
d:\Program Files\Anaconda2\envs\py36\lib\site-packages\ipykernel\__main__.py:19: Warning: (1050, "Table 'ay07' already exists")
d:\Program Files\Anaconda2\envs\py36\lib\site-packages\ipykernel\__main__.py:19: Warning: (1050, "Table 'ay09' already exists")
d:\Program Files\Anaconda2\envs\py36\lib\site-packages\ipykernel\__main__.py:19: Warning: (1050, "Table 'ay11' already exists")

In [49]:
data

             0      1       2       3       4       5   6   7
0   2016-11-11  09:52  4060.0  4060.0  4060.0  4060.0   2  12
1   2016-11-11  09:53  4060.0  4060.0  4060.0  4060.0  28  38
2   2016-11-11  13:55  4044.0  4044.0  4044.0  4044.0   2  38
3   2016-11-11  21:32  4022.0  4022.0  4022.0  4022.0   2  36
4   2016-11-14  09:14  3931.0  3931.0  3931.0  3931.0   2  36
5   2016-11-16  23:29  3925.0  3925.0  3925.0  3925.0   4  40
6   2016-11-17  10:47  3846.0  3846.0  3846.0  3846.0   2  42
7   2016-11-17  10:50  3866.0  3866.0  3866.0  3866.0   2  40
8   2016-11-17  11:23  3878.0  3878.0  3878.0  3878.0   2  40
9   2016-11-17  13:51  3891.0  3891.0  3891.0  3891.0   2  38
10  2016-11-17  13:56  3873.0  3873.0  3873.0  3873.0   2  36
11  2016-11-25  09:31  3923.0  3923.0  3923.0  3923.0  14  32
12  2016-11-25  09:32  3923.0  3923.0  3923.0  3923.0   2  32
13  2016-11-25  09:33  3893.0  3893.0  3893.0  3893.0  14  32
14  2016-11-25  10:06  3920.0  3920.0  3920.0  3920.0   6  26
15  2016-11-25  10:07  3924.0  3924.0  3924.0  3924.0   6  20
16  2016-11-25  10:09  3924.0  3924.0  3924.0  3924.0   2  18
17  2016-11-25  22:07  3957.0  3958.0  3957.0  3958.0   4  14
18  2016-11-25  22:11  3959.0  3959.0  3959.0  3959.0   2  14
19  2016-11-25  22:18  3946.0  3946.0  3946.0  3946.0   4  10

In [12]:
get_name.split("AY")[1]

'11'

In [94]:
A[1]

'11'

In [65]:
a = test.split(".csv")

In [67]:
a[0]

'DLCS03'

In [68]:
b = a[0].split("CS")

In [70]:
b[1]

'03'