In [12]:
import pandas as pd
import MySQLdb
import os
import time

In [24]:
db = MySQLdb.connect("localhost","root","123456")
db.set_character_set("gbk")

In [25]:
DATA_DIR = "../CL Daily Data WTI原油期货-所有资料"
for filename in os.listdir(DATA_DIR):
      
    cursor = db.cursor()
    sql = "CREATE DATABASE IF NOT EXISTS Oil_original_data"
    cursor.execute(sql)
    
    contract = filename.split(".xlsx")[0]
    
    sql = "CREATE TABLE IF NOT EXISTS Oil_original_data." + contract + \
          " (Date DATE,\
            Open FLOAT,\
            High FLOAT,\
            Low FLOAT,\
            Close FLOAT,\
            Volume FLOAT,\
            OI FLOAT)"
    cursor.execute(sql)
    
    
    data = pd.read_excel(DATA_DIR+"/"+filename,header=None)
    data = data.fillna("NULL")
    
    
    for i in range(8,len(data)):
        cursor = db.cursor()
        sql = "insert into Oil_original_data." + contract + " values ('"+ data.iloc[i][0].strftime("%Y-%m-%d") + "',"\
                + str(data.iloc[i][1]) + ","\
                + str(data.iloc[i][2]) + ","\
                + str(data.iloc[i][3]) + ","\
                + str(data.iloc[i][4]) + ","\
                + str(data.iloc[i][5]) + ","\
                + str(data.iloc[i][6]) + ")"
        index = i
        cursor.execute(sql)
    cursor.close()

D:\Users\WIN\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: Warning: (1007, "Can't create database 'oil_original_data'; database exists")