In [2]:
import pandas as pd
import MySQLdb
import os
import time

In [156]:
db = MySQLdb.connect("47.100.14.137","hyps44413","Nanhua")
db.set_character_set('gbk')

In [3]:
db = MySQLdb.connect("localhost","root","123456")
db.set_character_set("utf8")

# 單獨品種日資料

In [ ]:
DATA_DIR = "../CL Daily Data WTI原油期货-所有资料"
DATA_DIR = "../all IOE"

#SQL_INSERT("Iron_original_data",DATA_DIR)
#SQL_INSERT("WTI_Oil_original_data",DATA_DIR)

In [3]:
def SQL_INSERT(dbname,DATA_DIR):
    for filename in os.listdir(DATA_DIR):      
        cursor = db.cursor()
        sql = "CREATE DATABASE IF NOT EXISTS " + dbname
        cursor.execute(sql)

        contract = filename.split(".xlsx")[0]

        sql = "CREATE TABLE IF NOT EXISTS " dbname + "." + contract + \
              " (Date DATE PRIMARY KEY,\
                Open FLOAT(5),\
                High FLOAT(5),\
                Low FLOAT(5),\
                Close FLOAT(5),\
                Volume FLOAT(5),\
                OI FLOAT(5))"
        cursor.execute(sql)


        data = pd.read_excel(DATA_DIR+"/"+filename,header=None)
        data = data.fillna("NULL")


        for i in range(8,len(data)):
            cursor = db.cursor()
            sql = "insert into " + dbname + "." + contract + " values ('"+ data.iloc[i][0].strftime("%Y-%m-%d") + "',"\
                    + str(data.iloc[i][1]) + ","\
                    + str(data.iloc[i][2]) + ","\
                    + str(data.iloc[i][3]) + ","\
                    + str(data.iloc[i][4]) + ","\
                    + str(data.iloc[i][5]) + ","\
                    + str(data.iloc[i][6]) + ")"
            cursor.execute(sql)
            db.commit()
        cursor.close()

C:\Users\Philip\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: Warning: (1007, "Can't create database 'wti_oil_original_data'; database exists")

# 合約分開

In [153]:
DATA_DIR = '../ALL CONCRACT/鄭商所'
for filename in os.listdir(DATA_DIR):
    
    data = pd.read_excel(DATA_DIR + "/" + filename,header=None)
    
    folderName = filename.split(".xlsx")[0]
    
    name_column = 1
    column = 0
    next_column = 8
    while next_column < len(data.loc[0]):
        name = data.loc[0][name_column]
        split_data = data.iloc[8::,column:next_column]

        #刪除所有列都是空值的行
        split_data = split_data.dropna(how='all')

        #strip()刪除字串空白
        head=['Date','PX_OPEN','PX_HIGH','PX_LOW','PX_LAST','PX_SETTLE','VOLUME','OPEN_INT']

        split_data.to_csv('../ALL CONCRACT/CZCE/'+folderName+"/"+name.strip()+'.csv',header=head,index=None)
        column += 9
        next_column += 9
        name_column += 9

# 所有交易所日資料

In [157]:
FOLDER_DIR = '../ALL CONCRACT/CZCE'
for foldername in os.listdir(FOLDER_DIR):
    cursor = db.cursor()
    
    databaseName = foldername + "_day_data"
    
    sql = "create database if not exists " + databaseName
    cursor.execute(sql)
    
    DATA_DIR = FOLDER_DIR + "/" + foldername
    for filename in os.listdir(DATA_DIR):
        
        name = filename.split('.csv')[0]
        table_name = name.split(' ')[0]
        
        data = pd.read_csv(DATA_DIR + "/" + filename,header=0)
        data['Date'] = pd.to_datetime(data['Date'])

        data = data.where((pd.notnull(data)), None)
        
        sql = "create table if not exists "+ databaseName + "." + table_name + \
                  " (Date DATE PRIMARY KEY,\
                    Open FLOAT(5),\
                    High  FLOAT(5),\
                    Low  FLOAT(5),\
                    Close  FLOAT(5),\
                    Settle  FLOAT(5),\
                    Volume  FLOAT(5),\
                    OI  FLOAT(5))"
        cursor.execute(sql)
        
        if len(data) == 0:
            continue
        
        values = []
        for i in range(len(data)):
            values.append((data.iloc[i][0],data.iloc[i][1],data.iloc[i][2],data.iloc[i][3],data.iloc[i][4],
                           data.iloc[i][5],data.iloc[i][6],data.iloc[i][7]))
        sql = "insert into " + databaseName + "." + table_name + " values (%s,%s,%s,%s,%s,%s,%s,%s)"
        cursor.executemany(sql,values)
        db.commit()   
    cursor.close()

# 石油相關資料

In [127]:
DATA_DIR = '../DOC HO'

In [4]:
data = pd.read_excel("../DOC HO/CL.xlsx")

In [9]:
date = pd.read_excel("../20171120 所有换约日期.xlsx")

In [20]:
date['CL期货连续合约换约日期'] = pd.to_datetime(date['CL期货连续合约换约日期'])

In [183]:
test = test.sort_index(axis=0,ascending=False)
test = test.reset_index(drop=True)
test['chane_contract'] = test['start date'].map(lambda x: 0)


for i in range(len(date['CL期货连续合约换约日期'])):
    index = test[test['start date'] == date.iloc[i][0]].index.tolist()
    if(len(index) > 0):
        print(index)
        test.iloc[index[0]+1,6] = 1

[15]
[36]
[56]
[79]
[101]
[122]
[144]
[166]
[188]
[210]
[230]
[252]
[276]
[297]
[317]
[340]
[361]
[383]
[405]
[426]
[449]
[471]
[492]
[513]
[536]
[558]
[579]
[601]
[621]
[645]
[666]
[688]
[711]
[731]
[754]
[774]
[798]
[820]
[840]
[861]
[883]
[907]
[926]
[949]
[971]
[993]
[1014]
[1035]
[1059]
[1082]
[1102]
[1123]
[1145]
[1167]
[1188]
[1211]
[1231]
[1254]
[1275]
[1296]
[1319]
[1341]
[1361]
[1383]
[1405]
[1426]
[1448]
[1471]
[1492]
[1514]
[1535]
[1556]
[1580]
[1601]
[1622]
[1645]
[1666]
[1688]
[1710]
[1731]
[1754]
[1776]
[1797]
[1818]
[1841]
[1863]
[1883]
[1906]
[1926]
[1949]
[1971]
[1992]
[2015]
[2036]
[2058]
[2080]
[2103]
[2124]
[2145]
[2167]
[2189]
[2211]
[2232]
[2254]
[2277]
[2297]
[2320]
[2341]
[2362]
[2386]
[2406]
[2426]
[2448]
[2471]
[2491]
[2514]
[2536]
[2557]
[2579]
[2600]
[2623]
[2646]
[2666]
[2687]
[2710]
[2731]
[2753]
[2776]
[2797]
[2819]
[2839]
[2861]
[2885]
[2906]
[2926]
[2949]
[2971]
[2992]
[3014]
[3036]
[3058]
[3080]
[3100]
[3121]
[3146]
[3167]
[3187]
[3210]
[3231]
[3253]
[3275]
[3296]
[3319]
[3341]
[3362]
[3383]
[3406]
[3428]
[3448]
[3471]
[3491]
[3514]
[3536]
[3557]
[3580]
[3601]
[3623]
[3644]
[3666]
[3689]
[3710]
[3731]
[3753]
[3776]
[3796]
[3819]
[3841]
[3862]
[3884]
[3905]
[3928]
[3951]
[3970]
[3992]
[4014]
[4036]
[4057]
[4080]
[4101]
[4123]
[4144]
[4166]
[4189]
[4211]
[4231]
[4253]
[4275]
[4296]
[4318]
[4341]
[4362]
[4384]
[4404]
[4426]
[4450]
[4471]
[4491]
[4514]
[4536]
[4557]
[4579]
[4601]
[4623]
[4645]
[4664]
[4686]
[4711]
[4732]
[4752]
[4776]
[4796]
[4819]
[4841]
[4862]
[4885]
[4906]
[4928]
[4949]
[4971]
[4994]
[5014]
[5036]
[5056]
[5080]
[5101]
[5123]
[5146]
[5166]
[5189]
[5210]
[5232]
[5255]
[5275]
[5296]
[5318]
[5341]
[5361]
[5384]
[5406]
[5427]
[5449]
[5470]
[5493]
[5516]
[5536]
[5556]
[5579]
[5601]
[5622]
[5645]
[5666]
[5688]
[5709]
[5731]
[5754]
[5776]
[5796]
[5819]
[5841]
[5862]
[5884]
[5906]
[5928]
[5950]
[5969]
[5992]
[6016]
[6037]
[6057]
[6080]
[6101]
[6123]
[6145]
[6166]
[6189]
[6211]
[6232]
[6253]
[6276]
[6298]
[6318]
[6341]
[6361]
[6384]
[6406]
[6427]
[6450]
[6471]
[6493]
[6514]
[6536]
[6559]
[6579]
[6601]
[6621]
[6645]
[6666]
[6688]
[6711]
[6731]
[6754]
[6775]
[6797]
[6820]
[6840]
[6862]
[6884]
[6906]
[6927]
[6950]
[6971]
[6993]
[7015]
[7036]
[7059]
[7081]
[7101]
[7123]
[7145]
[7166]
[7188]
[7211]
[7232]
[7254]
[7275]

In [184]:
test.to_csv('test.csv')

In [171]:
date.iloc[414][0]

Timestamp('2017-11-20 00:00:00')

In [173]:
test.iloc[18][0]

datetime.datetime(1990, 1, 25, 0, 0)

In [182]:
test.reset_index(drop=True)

,start date,1990-01-01 00:00:00,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,chane_contract
0,1990-01-01 00:00:00,21.65,21.91,21.59,21.82,23615,0
1,1990-01-02 00:00:00,21.8,22.92,21.79,22.89,719,0
2,1990-01-03 00:00:00,23.2,23.8,23,23.68,1566,0
3,1990-01-04 00:00:00,23.88,23.92,22.83,23.41,2500,0
4,1990-01-05 00:00:00,23.25,23.7,23.03,23.08,50,0
5,1990-01-08 00:00:00,22.48,22.6,21.55,21.62,38007,0
6,1990-01-09 00:00:00,21.45,22.12,21.48,22.07,1547,0
7,1990-01-10 00:00:00,22.48,22.92,22.28,22.9,330,0
8,1990-01-11 00:00:00,22.78,23.18,22.52,23.14,858,0
9,1990-01-12 00:00:00,23.2,23.44,23.04,23.13,789,0
10,1990-01-15 00:00:00,23,23,22.3,22.36,575,0
11,1990-01-16 00:00:00,22.2,22.94,21.94,22.78,36819,0
12,1990-01-17 00:00:00,22.35,22.52,21.87,22.1,23231,0
13,1990-01-18 00:00:00,22.35,22.8,22.3,22.76,28414,0
14,1990-01-19 00:00:00,23,23.8,22.9,23.67,29703,0
15,1990-01-22 00:00:00,23.75,24.2,22.2,22.55,10772,0
16,1990-01-23 00:00:00,21.5,21.68,21.3,21.6,45839,0
17,1990-01-24 00:00:00,21.35,21.9,21.25,21.59,51518,0
18,1990-01-25 00:00:00,21.85,22.3,21.66,22.24,45420,0
19,1990-01-26 00:00:00,22.15,22.6,21.92,22.56,29349,1
20,1990-01-29 00:00:00,22.54,22.85,22.38,22.8,38110,0
21,1990-01-30 00:00:00,22.7,22.76,22.36,22.46,862,0
22,1990-01-31 00:00:00,22.17,22.7,22.11,22.68,862,0
23,1990-02-01 00:00:00,22.6,22.84,22.46,22.7,33347,0
24,1990-02-02 00:00:00,22.7,23.05,22.66,23.02,37956,0
25,1990-02-05 00:00:00,23,23.06,22.37,22.39,150,0
26,1990-02-06 00:00:00,22.45,22.72,22.3,22.51,2310,0
27,1990-02-07 00:00:00,22.33,22.43,22.12,22.32,795,0
28,1990-02-08 00:00:00,22.29,22.46,22.03,22.09,42671,0
29,1990-02-09 00:00:00,22.07,22.07,21.7,21.74,29227,0
...,...,...,...,...,...,...,...
7255,2017-10-23 00:00:00,52.07,52.3,51.68,51.86,583563,0
7256,2017-10-24 00:00:00,51.89,52.62,51.55,52.53,709553,0
7257,2017-10-25 00:00:00,52.56,52.57,51.89,52.17,681739,0
7258,2017-10-26 00:00:00,52.19,52.86,51.91,52.82,594647,1
7259,2017-10-27 00:00:00,52.8,54.2,52.25,54.19,730915,0
7260,2017-10-30 00:00:00,54.16,54.46,53.75,54.12,565043,0
7261,2017-10-31 00:00:00,54.08,54.85,53.93,54.64,497295,0
7262,2017-11-01 00:00:00,54.65,55.22,53.89,54.27,671038,0
7263,2017-11-02 00:00:00,54.28,54.84,53.99,54.74,482846,0
7264,2017-11-03 00:00:00,54.73,55.76,54.4,55.7,614159,0
7265,2017-11-06 00:00:00,55.97,57.61,55.66,57.24,861713,0
7266,2017-11-07 00:00:00,57.27,57.69,56.83,56.94,750187,0
7267,2017-11-08 00:00:00,56.96,57.92,56.41,56.82,919147,0
7268,2017-11-09 00:00:00,56.85,57.53,56.69,57.03,666949,0
7269,2017-11-10 00:00:00,57.02,57.35,56.55,56.9,541296,0
7270,2017-11-13 00:00:00,56.9,57.15,56.3,56.73,631619,0
7271,2017-11-14 00:00:00,56.72,56.77,54.81,55,707338,0
7272,2017-11-15 00:00:00,55.06,55.56,54.88,55.31,501385,0
7273,2017-11-16 00:00:00,55.3,55.62,54.93,55.26,213923,0
7274,2017-11-17 00:00:00,55.25,56.68,55.18,56.68,184944,0
7275,2017-11-20 00:00:00,56.69,56.76,55.57,56.09,37702,0
7276,2017-11-21 00:00:00,56.38,57.22,56.32,57.1,619066,0
7277,2017-11-22 00:00:00,57.12,58.15,57.03,58.06,837411,0
7278,2017-11-23 00:00:00,57.12,58.15,57.03,58.06,837411,0
7279,2017-11-24 00:00:00,58.05,59.05,58.36,58.97,577826,1
7280,2017-11-27 00:00:00,58.95,58.99,57.55,57.85,690078,0
7281,2017-11-28 00:00:00,57.86,58.11,57.42,57.75,546526,0
7282,2017-11-29 00:00:00,57.73,58.3,56.75,57.39,741564,0
7283,2017-11-30 00:00:00,57.41,57.98,56.82,57.42,735128,0
7284,2017-12-01 00:00:00,57.42,58.88,57.29,58.29,685215,0