In [1]:
import pandas as pd
import numpy as np
import MySQLdb

In [24]:
#date = pd.read_excel('中国交易所资料/大商所所有品种换约资料/交易日期/ioeh14 comdty.xlsx',encoding='utf-8')
company_order = pd.read_csv('myTempCompanyAll20170915_004.csv',encoding='utf-8-sig',header=None,index_col=None)

In [157]:
db = MySQLdb.connect("localhost","root","0136","iron_ore" )
db.set_character_set('utf8')

In [63]:
V_info_create()
B_info_create()
S_info_create()

In [96]:
for x in range(43,len(date.dropna())): 
    split_date = date['Date'][x].strftime('%Y-%m-%d').split('-')
    table_date = split_date[0]+split_date[1]+split_date[2]
    try:
        data = pd.read_csv('../铁矿石/'+table_date+'.csv',encoding='utf-8-sig',engine='python')
    except Exception as e:
        print(e)
        continue
        
    for i in range(3,len(data)-1):
        for j in range(12):
            if(data.loc[i][j] == "-"):
                data.loc[i][j] = "NULL"                
            elif( (j==2 or j==3 or j==6 or j==7 or j==10 or j==11) and data.loc[i][j] != "NULL"):
                data.loc[i][j] = data.loc[i][j].replace(',','')
  
    tmp = x

    #total_insert(data,table_date)
    #futures_member_insert(data,table_date)
    #non_futures_member_insert(data,table_date)
    #total_volume_insert(data,table_date)
        
    V_info_insert(data,table_date,date['Date'][x].strftime('%Y-%m-%d'))
    B_info_insert(data,table_date,date['Date'][x].strftime('%Y-%m-%d'))
    S_info_insert(data,table_date,date['Date'][x].strftime('%Y-%m-%d'))
    
db.close()

[Errno 2] No such file or directory: '../铁矿石/20170530.csv'
[Errno 2] No such file or directory: '../铁矿石/20170529.csv'
[Errno 2] No such file or directory: '../铁矿石/20170501.csv'
[Errno 2] No such file or directory: '../铁矿石/20170404.csv'
[Errno 2] No such file or directory: '../铁矿石/20170403.csv'
[Errno 2] No such file or directory: '../铁矿石/20170202.csv'
[Errno 2] No such file or directory: '../铁矿石/20170201.csv'
[Errno 2] No such file or directory: '../铁矿石/20170131.csv'
[Errno 2] No such file or directory: '../铁矿石/20170130.csv'
[Errno 2] No such file or directory: '../铁矿石/20170127.csv'
[Errno 2] No such file or directory: '../铁矿石/20170102.csv'
[Errno 2] No such file or directory: '../铁矿石/20161007.csv'
[Errno 2] No such file or directory: '../铁矿石/20161006.csv'
[Errno 2] No such file or directory: '../铁矿石/20161005.csv'
[Errno 2] No such file or directory: '../铁矿石/20161004.csv'
[Errno 2] No such file or directory: '../铁矿石/20161003.csv'
[Errno 2] No such file or directory: '../铁矿石/20160916.csv'
[Errno 2] No such file or directory: '../铁矿石/20160915.csv'
[Errno 2] No such file or directory: '../铁矿石/20160610.csv'
[Errno 2] No such file or directory: '../铁矿石/20160609.csv'
[Errno 2] No such file or directory: '../铁矿石/20160502.csv'
[Errno 2] No such file or directory: '../铁矿石/20160404.csv'
[Errno 2] No such file or directory: '../铁矿石/20160212.csv'
[Errno 2] No such file or directory: '../铁矿石/20160211.csv'
[Errno 2] No such file or directory: '../铁矿石/20160210.csv'
[Errno 2] No such file or directory: '../铁矿石/20160209.csv'
[Errno 2] No such file or directory: '../铁矿石/20160208.csv'
[Errno 2] No such file or directory: '../铁矿石/20160101.csv'
[Errno 2] No such file or directory: '../铁矿石/20151007.csv'
[Errno 2] No such file or directory: '../铁矿石/20151006.csv'
[Errno 2] No such file or directory: '../铁矿石/20151005.csv'
[Errno 2] No such file or directory: '../铁矿石/20151002.csv'
[Errno 2] No such file or directory: '../铁矿石/20151001.csv'
[Errno 2] No such file or directory: '../铁矿石/20150904.csv'
[Errno 2] No such file or directory: '../铁矿石/20150903.csv'
[Errno 2] No such file or directory: '../铁矿石/20150622.csv'
[Errno 2] No such file or directory: '../铁矿石/20150501.csv'
[Errno 2] No such file or directory: '../铁矿石/20150406.csv'
[Errno 2] No such file or directory: '../铁矿石/20150224.csv'
[Errno 2] No such file or directory: '../铁矿石/20150223.csv'
[Errno 2] No such file or directory: '../铁矿石/20150220.csv'
[Errno 2] No such file or directory: '../铁矿石/20150219.csv'
[Errno 2] No such file or directory: '../铁矿石/20150218.csv'
[Errno 2] No such file or directory: '../铁矿石/20150102.csv'
[Errno 2] No such file or directory: '../铁矿石/20150101.csv'
[Errno 2] No such file or directory: '../铁矿石/20141007.csv'
[Errno 2] No such file or directory: '../铁矿石/20141006.csv'
[Errno 2] No such file or directory: '../铁矿石/20141003.csv'
[Errno 2] No such file or directory: '../铁矿石/20141002.csv'
[Errno 2] No such file or directory: '../铁矿石/20141001.csv'
[Errno 2] No such file or directory: '../铁矿石/20140908.csv'
[Errno 2] No such file or directory: '../铁矿石/20140602.csv'
[Errno 2] No such file or directory: '../铁矿石/20140502.csv'
[Errno 2] No such file or directory: '../铁矿石/20140501.csv'
[Errno 2] No such file or directory: '../铁矿石/20140407.csv'
[Errno 2] No such file or directory: '../铁矿石/20140206.csv'
[Errno 2] No such file or directory: '../铁矿石/20140205.csv'
[Errno 2] No such file or directory: '../铁矿石/20140204.csv'
[Errno 2] No such file or directory: '../铁矿石/20140203.csv'
[Errno 2] No such file or directory: '../铁矿石/20140131.csv'
[Errno 2] No such file or directory: '../铁矿石/20140101.csv'

In [94]:
tmp

43

# 總表輸入

In [265]:
def total_insert(data,table_date):       
    cursor = db.cursor()

    sql = "CREATE TABLE IF NOT EXISTS i_" + table_date+ "(\
    Rank INT(5),\
    Member CHAR(20),\
    Volume INT,\
    Increment INT,\
    Rank_1 INT(5),\
    Member1 CHAR(20),\
    Buy_Volume INT,\
    Increment_1 INT,\
    Rank_2 INT(5),\
    Member2 CHAR(20),\
    Sales_Volume INT,\
    Increment_2 INT )"

    cursor.execute(sql)

    for i in range(3,len(data)-1):
        
        No = data.loc[i][0]
        Member = data.loc[i][1]
        Volume = data.loc[i][2]
        Increase_or_decrease = data.loc[i][3]
        No1 = data.loc[i][4]
        Member1 = data.loc[i][5]
        Buy_Volume = data.loc[i][6]
        Increase_or_decrease1 = data.loc[i][7]
        No2 = data.loc[i][8]
        Member2 = data.loc[i][9]
        Sales_Volume = data.loc[i][10]
        Increase_or_decrease2 = data.loc[i][11]

        sql = "INSERT INTO i_" + table_date +"(Rank,Member,Volume,Increment,Rank_1,Member1,Buy_Volume,Increment_1 \
        ,Rank_2,Member2,Sales_Volume,Increment_2) VALUES(" \
        + No + ",'" + Member + "'," + Volume + "," + Increase_or_decrease + ","\
        + No1 + ",'" + Member1 + "'," + Buy_Volume + "," + Increase_or_decrease1 + ","\
        + No2 + ",'" + Member2 + "'," + Sales_Volume + "," + Increase_or_decrease2 + ")"

        cursor.execute(sql)
        db.commit()
    cursor.close()

# 期貨公司成員輸入

In [5]:
def futures_member_insert(data,table_date):
    cursor = db.cursor()
    sql = """CREATE TABLE IF NOT EXISTS futures_member (\
    Date DATE PRIMARY KEY,\
    Total_volume INT,\
    Increment INT,\
    Total_buy_volume INT,\
    Increment_1 INT,\
    Total_sales_volume INT,\
    Increment_2 INT ) """

    cursor.execute(sql)
    
    sql = "INSERT INTO futures_member (Date,Total_volume,Increment,Total_buy_volume,Increment_1,Total_sales_volume,Increment_2) VALUES( "\
    + table_date +","\
    + data.loc[0][1].replace(',','') +","\
    + data.loc[0][2].replace(',','') +","\
    + data.loc[0][3].replace(',','') +","\
    + data.loc[0][4].replace(',','') +","\
    + data.loc[0][5].replace(',','') +","\
    + data.loc[0][6].replace(',','') + ")"

    cursor.execute(sql)
    db.commit()
    cursor.close()

# 非期貨公司成員輸入

In [243]:
cursor = db.cursor()
sql = """CREATE TABLE IF NOT EXISTS none_futures_member (\
Date DATE PRIMARY KEY,\
Total_volume INT,\
Increment INT,\
Total_buy_volume INT,\
Increment_1 INT,\
Total_sales_volume INT,\
Increment_2 INT ) """

cursor.execute(sql)

0

In [21]:
def non_futures_member_insert(data,table_date):
    cursor = db.cursor()
    sql = "INSERT INTO none_futures_member (Date,Total_volume,Increment,Total_buy_volume,Increment_1,Total_sales_volume,Increment_2) VALUES("\
    + table_date + ","\
    + data.loc[1][1].replace(',','') +","\
    + data.loc[1][2].replace(',','') +","\
    + data.loc[1][3].replace(',','') +","\
    + data.loc[1][4].replace(',','') +","\
    + data.loc[1][5].replace(',','') +","\
    + data.loc[1][6].replace(',','') + ")"

    cursor.execute(sql)
    db.commit()
    cursor.close()

# 總計

In [247]:
cursor = db.cursor()
sql = "CREATE TABLE IF NOT EXISTS total_volume ( Date DATE PRIMARY KEY, \
V_Valume INT,V_Increment INT,\
B_Valume INT,B_Increment INT,\
S_Valume INT,S_Increment INT)"

cursor.execute(sql)

0

In [25]:
def total_volume_insert(data,table_date):
    cursor = db.cursor()
    total_len = len(data)-1
    sql = "INSERT INTO total_volume (Date,V_Valume,V_Increment,B_Valume,B_Increment,S_Valume,S_Increment) VALUES("\
    + table_date + ","\
    + data.loc[total_len][2].replace(',','') +","\
    + data.loc[total_len][3].replace(',','') +","\
    + data.loc[total_len][6].replace(',','') +","\
    + data.loc[total_len][7].replace(',','') +","\
    + data.loc[total_len][10].replace(',','') +","\
    + data.loc[total_len][11].replace(',','') + ")"

    cursor.execute(sql)
    db.commit()

# 各公司資訊

## V名次、成交量、增減

In [45]:
def V_info_create():
    cursor = db.cursor()
    name=""
    for i in range(len(company_order)-1):
        name = name + company_order.loc[i][0] + ' CHAR(10),'
    name = name + company_order.loc[len(company_order)-1][0] + " CHAR(10)"

    sql = "CREATE TABLE IF NOT EXISTS v_rank ( Date DATE PRIMARY KEY, " + name + ")"
    cursor.execute(sql)

    sql = "CREATE TABLE IF NOT EXISTS v_volume ( Date DATE PRIMARY KEY, " + name + ")"
    cursor.execute(sql)

    sql = "CREATE TABLE IF NOT EXISTS v_increment ( Date DATE PRIMARY KEY, " + name + ")"
    cursor.execute(sql)
    cursor.close()

In [92]:
def V_info_insert(data,table_date,list_date):
    cursor = db.cursor()
    name=""
    for i in range(len(company_order)-1):
        name = name + company_order.loc[i][0] + ','
    name = name + company_order.loc[len(company_order)-1][0]

    empty = ""
    empty = empty + table_date + ","
    for i in range(len(company_order)-1):
        empty = empty + "NULL" + ','
    empty = empty + "NULL"

    sql = "INSERT INTO v_rank (Date," + name + ") VALUES (" + empty + ")"
    cursor.execute(sql)
    db.commit()

    sql = "INSERT INTO v_volume (Date," + name + ") VALUES (" + empty + ")"
    cursor.execute(sql)
    db.commit()

    sql = "INSERT INTO v_increment (Date," + name + ") VALUES (" + empty + ")"
    cursor.execute(sql)
    db.commit()
    
    for i in range(3,len(data)-1):
        if(data.loc[i][1] == "NULL"):
            continue
        
        else:
            sql = "UPDATE v_rank SET " + str(data.loc[i][1]) + "=" + data.loc[i][0] + " WHERE Date='" + list_date + "'"
            cursor.execute(sql)
            db.commit()    

    for i in range(3,len(data)-1):
        if(data.loc[i][5] == "NULL"):
            continue
            
        else:
            sql = "UPDATE v_volume SET " + str(data.loc[i][1]) + "=" + data.loc[i][2] + " WHERE Date='" + list_date + "'"
            cursor.execute(sql)
            db.commit()

    for i in range(3,len(data)-1):
        if(data.loc[i][9] == "NULL"):
            continue
            
        else:
            sql = "UPDATE v_increment SET " + data.loc[i][1] + "=" + data.loc[i][3] + " WHERE Date='" + list_date + "'"
            cursor.execute(sql)
            db.commit()
    
    cursor.close()

## B名次、買單量、增減

In [198]:
def B_info_create():
    name=""
    for i in range(len(company_order)-1):
        name = name + company_order.loc[i][0] + ' CHAR(10),'
    name = name + company_order.loc[len(company_order)-1][0] + " CHAR(10)"

    sql = "CREATE TABLE IF NOT EXISTS b_rank ( Date DATE PRIMARY KEY, " + name + ")"
    cursor.execute(sql)

    sql = "CREATE TABLE IF NOT EXISTS b_oi ( Date DATE PRIMARY KEY, " + name + ")"
    cursor.execute(sql)

    sql = "CREATE TABLE IF NOT EXISTS b_increment ( Date DATE PRIMARY KEY, " + name + ")"
    cursor.execute(sql)

0

In [199]:
def B_info_insert(data,table_date,list_date)
    name=""
    for i in range(len(company_order)-1):
        name = name + company_order.loc[i][0] + ','
    name = name + company_order.loc[len(company_order)-1][0]

    empty = ""
    empty = empty + table_date + ","
    for i in range(len(company_order)-1):
        empty = empty + "NULL" + ','
    empty = empty + "NULL"
    
    sql = "INSERT INTO b_rank (Date," + name + ") VALUES (" + empty + ")"
    cursor.execute(sql)
    db.commit()

    sql = "INSERT INTO b_oi (Date," + name + ") VALUES (" + empty + ")"
    cursor.execute(sql)
    db.commit()

    sql = "INSERT INTO b_increment (Date," + name + ") VALUES (" + empty + ")"
    cursor.execute(sql)
    db.commit()
    
    for i in range(3,len(data)-1):
    if(data.loc[i][1] == "NULL"):
        continue  
        
    sql = "UPDATE b_rank SET " + str(data.loc[i][5]) + "=" + data.loc[i][4] + " WHERE Date='" + list_date + "'"
    cursor.execute(sql)
    db.commit()    

    for i in range(3,len(data)-1):
        if(data.loc[i][5] == "NULL"):
            continue
        sql = "UPDATE b_oi SET " + str(data.loc[i][5]) + "=" + data.loc[i][6] + " WHERE Date='" + list_date + "'"
        cursor.execute(sql)
        db.commit()

    for i in range(3,len(data)-1):
        if(data.loc[i][9] == "NULL"):
            continue
        sql = "UPDATE b_increment SET " + data.loc[i][5] + "=" + data.loc[i][7] + " WHERE Date='" + list_date + "'"
        cursor.execute(sql)
        db.commit()

    cursor.close()

## S名次、賣單量、增減

In [203]:
def S_info_create():
    name=""
    for i in range(len(company_order)-1):
        name = name + company_order.loc[i][0] + ' CHAR(10),'
    name = name + company_order.loc[len(company_order)-1][0] + " CHAR(10)"

    sql = "CREATE TABLE IF NOT EXISTS s_rank ( Date DATE PRIMARY KEY, " + name + ")"
    cursor.execute(sql)

    sql = "CREATE TABLE IF NOT EXISTS s_oi ( Date DATE PRIMARY KEY, " + name + ")"
    cursor.execute(sql)

    sql = "CREATE TABLE IF NOT EXISTS s_increment ( Date DATE PRIMARY KEY, " + name + ")"
    cursor.execute(sql)

0

In [204]:
def S_info_insert(data,table_date,list_date):
    name=""
    for i in range(len(company_order)-1):
        name = name + company_order.loc[i][0] + ','
    name = name + company_order.loc[len(company_order)-1][0]

    empty = ""
    empty = empty + table_date + ","
    for i in range(len(company_order)-1):
        empty = empty + "NULL" + ','
    empty = empty + "NULL"
    
    sql = "INSERT INTO s_rank (Date," + name + ") VALUES (" + empty + ")"
    cursor.execute(sql)
    db.commit()

    sql = "INSERT INTO s_oi (Date," + name + ") VALUES (" + empty + ")"
    cursor.execute(sql)
    db.commit()

    sql = "INSERT INTO s_increment (Date," + name + ") VALUES (" + empty + ")"
    cursor.execute(sql)
    db.commit()
    
    for i in range(3,len(data)-1):
    if(data.loc[i][1] == "NULL"):
        continue  
        
    sql = "UPDATE s_rank SET " + str(data.loc[i][1]) + "=" + data.loc[i][0] + " WHERE Date='" + list_date + "'"
    cursor.execute(sql)
    db.commit()    

    for i in range(3,len(data)-1):
        if(data.loc[i][5] == "NULL"):
            continue
        sql = "UPDATE s_oi SET " + str(data.loc[i][1]) + "=" + data.loc[i][2] + " WHERE Date='" + list_date + "'"
        cursor.execute(sql)
        db.commit()

    for i in range(3,len(data)-1):
        if(data.loc[i][9] == "NULL"):
            continue
        sql = "UPDATE s_increment SET " + data.loc[i][9] + "=" + data.loc[i][3] + " WHERE Date='" + list_date + "'"
        cursor.execute(sql)
        db.commit()

    cursor.close()