In [1]:
from WindPy import w
import datetime
import pandas as pd
import MySQLdb

In [11]:
db = MySQLdb.connect("localhost","root","123456")
db.set_character_set('gbk')

In [54]:
db = MySQLdb.connect("47.100.14.137","hyps44413","Nanhua")
db.set_character_set('gbk')

In [3]:
w.start()

Welcome to use Wind Quant API for Python (WindPy)!

COPYRIGHT (C) 2017 WIND INFORMATION CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

.ErrorCode=0
.Data=[OK!]

In [4]:
cursor = db.cursor()

data = w.wset("optionfuturescontractbasicinfo","exchange=DCE;productcode=M;contract=all")
df_date = pd.DataFrame(data.Data)
name_list = df_date.loc[1]

for i in range(0,len(name_list)):
    name = name_list[i].split('豆粕期权')[1]
    data = w.wsd (name + ".DCE", 
                  "us_code,open,high,low,close,volume,oi,us_type,exe_mode,exe_type,exe_price,maint_margin,exe_ratio,totaltm,settlementmethod,startdate,lasttradingdate,exe_startdate,exe_enddate", 
                  df_date[i].loc[9], df_date[i].loc[10])
    
    df = pd.DataFrame(data.Data)
    
    if name.find("C") != -1:
        values = []
        for j in range(len(data.Times)):
            values.append((data.Times[j].strftime('%Y-%m-%d'),df[j].loc[0],df[j].loc[1],df[j].loc[2],df[j].loc[3],df[j].loc[4],
                           df[j].loc[5],df[j].loc[6],df[j].loc[7],df[j].loc[8],df[j].loc[9],df[j].loc[10],
                           df[j].loc[11],df[j].loc[12],df[j].loc[13],df[j].loc[14]))
            
        sql = "insert into m_option.call values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
        cursor.executemany(sql, values)
        db.commit()
        
        sql = "insert into m_option.date values(%s,%s,%s,%s,%s,%s,%s)"
        cursor.execute(sql, (df[0].loc[0],df[j].loc[8],df[j].loc[10],df[0].loc[15],df[0].loc[16],df[0].loc[17],df[0].loc[18]))
        db.commit()
        
    else:
        values = []
        for j in range(len(data.Times)):
            values.append((data.Times[j].strftime('%Y-%m-%d'),df[j].loc[0],df[j].loc[1],df[j].loc[2],df[j].loc[3],df[j].loc[4],
                           df[j].loc[5],df[j].loc[6],df[j].loc[7],df[j].loc[8],df[j].loc[9],df[j].loc[10],
                           df[j].loc[11],df[j].loc[12],df[j].loc[13],df[j].loc[14]))
            
        sql = "insert into m_option.put values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
        cursor.executemany(sql, values)
        db.commit()
        
        sql = "insert into m_option.date values(%s,%s,%s,%s,%s,%s,%s)"
        cursor.execute(sql, (df[0].loc[0],df[j].loc[8],df[j].loc[10],df[0].loc[15],df[0].loc[16],df[0].loc[17],df[0].loc[18]))
        db.commit()

IntegrityError: (1062, "Duplicate entry '2017-09-29-M1809-2450' for key 'PRIMARY'")

In [9]:
db.close()

In [12]:
cursor = db.cursor()

sql = "CREATE DATABASE IF NOT EXISTS m_option"
cursor.execute(sql)

sql = "CREATE TABLE IF NOT EXISTS m_option.call (Date DATE, Code CHAR(10), Open FLOAT, High FLOAT, Low FLOAT, Close FLOAT,\
                                        Volume FLOAT, OI FLOAT(5), Type CHAR(5), Exe_mode CHAR(5),\
                                        Exe_type CHAR(5), Exe_price FLOAT, Maint_margin FLOAT, Exe_ratio FLOAT,\
                                        Totaltm FLOAT, Settlementmethod CHAR(5), PRIMARY KEY(Date, Code, Exe_price))"
cursor.execute(sql)

sql = "CREATE TABLE IF NOT EXISTS m_option.put (Date DATE, Code CHAR(10), Open FLOAT, High FLOAT, Low FLOAT, Close FLOAT,\
                                        Volume FLOAT, OI FLOAT(5), Type CHAR(5), Exe_mode CHAR(5), \
                                        Exe_type CHAR(5), Exe_price FLOAT, Maint_margin FLOAT, Exe_ratio FLOAT,\
                                        Totaltm FLOAT, Settlementmethod CHAR(5), PRIMARY KEY(Date, Code, Exe_price))"
cursor.execute(sql)

sql = "CREATE TABLE IF NOT EXISTS m_option.date (\
       Code CHAR(10),\
       Exe_mode CHAR(5),\
       Exe_price FLOAT,\
       StartDate DATE,\
       LastTradingDate DATE,\
       Exe_StartDate DATE,\
       Exe_EndDate DATE)"
cursor.execute(sql)

cursor.close()

C:\Users\Philip\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: Warning: (1007, "Can't create database 'm_option'; database exists")
  after removing the cwd from sys.path.

In [45]:
i

123

In [32]:
values[0]

('2017-06-02',
 'M1805',
 'None',
 'None',
 'None',
 '277.5',
 '0.0',
 '0.0',
 '商品',
 '认购',
 '美式',
 2400.0,
 4618.1,
 10.0,
 313,
 '实物')

In [20]:
db.close()